*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}



.inputStyle{
    border: solid 2px;
    border-radius: 7px;
}

.btn-search:hover{
    -webkit-filter: brightness(70%);
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
}

.search-icon:hover{
    zoom: 120%;
}